.row{
    margin: 2px;
}

.input_search{
    padding:40px;
    font-size:120px;
    height: 100%;
    inline-height:100%;
}

.input_button{
    padding:100px;
    font-size:90px;
}

.mitem
{
    text-align:right;
    float: right;
}

.logo{
	margin:0 auto;
	text-align: left;
}

.mspace{
    padding-bottom:140px;
}
.status{
	color: #fff;
	font-weight: bold;
  	cursor: default;
    border-radius: 4px 4px 0 0;
    border:1px solid #E2E2E2;
    border-bottom: transparent;
    margin: 0 -10px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.nav-tabs > li > a:hover {
 	border-color: #eee #eee #ddd;
}

.status > a,
.status > a:active,
.status > a:hover,
.status > a:focus{
	color: #fff;
	font-weight: bold;
}
.status > a:hover{
	background-color: transparent;
}
.status-new > a,
.status-new > a:active,
.status-new > a:hover,
.status-new > a:focus{
	color: #4B4B4B;
	font-weight: bold;
}
.status-new{
	background-color: #FFF;
}
.status-inp{
	background-color: #413AFF;
}
.status-nof{
	background-color: #F57272;
}
.status-done{
	background-color: #2DAE21;
}
.status_body{
	text-align: center;
}


.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.space-up{
	margin-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.input-btn{
	text-align: center;
}
.input-btn > input,.input-btn > button{
	padding: 10px 40px !important;
}
.breadcrumb > li + li:before {
			content: " | " !important;
}
.breadcrumb > li > a {
	font-size: 15px !important;
}

h1,h2,h3{
	padding-bottom:10px;
}

label{
	padding-bottom: 5px;
}

.login_input input,.login_input select, .login_input select{
	padding:50px;
	font-size:60px;
}

.row{
        margin: 0px 0px;
    }

.login_form input,.login_form select,.login_form button{
    font-size:60px !important;
    padding:62px !important;
    height: 100%;
}

.login_form button{
    padding: 82px 250px !important;
    font-size: 80px !important;
}

.login_form select{
    width: 100%;
    height: 100%;
    padding: 40px;
    line-height: 1;
    font-size: 80px;
}

.login_form label{
    padding-top:40px;
    padding-bottom: 10px;
    font-size: 70px;
    font-weight: normal;
}

.login_form .box-title h3
{
    font-size: 90px;
}

.login_form .btn{
    padding: 60px 120px;
    font-size: 30px;
}

.login_form .box-footer{
    text-align: center;
}

.h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.h4{
    font-weight: bold;
}

.box-primary{
    border:0 !important;
}

.btn-nav-top button{
    width: 100%;
    padding: 60px 30px;
    font-size: 30px;
}

.btn-nav-menu button{
    width: 100%;
    /* padding: 40px 20px;
    font-size: 30px;
    font-weight: bold; */
    text-align: center;
}
.btn-nav-menu{
    padding-bottom: 20px;
}

.btn-nav-form{
    text-align: center;
}

.btn-nav-form button{
    width: 60%;
    padding: 30px 50px;
    font-size: 20px;
}

.action_btn{
    font-size: 30px;
    padding: 30px;
}
.data-table h3
{
    font-size: 50px;
}
.data-table input, .data-table select
{
    font-size: 25px !important;
}

.data-table input{
    padding: 25px !important;
}

.data-table select{
    height: 100%;
    width: 100%;
}

.data-table label{
    font-size: 30px;
}

.data-table td, .data-table th, .data-table li{
    font-size: 40px;
}
.data-table li{
    padding: 20px;
}

#example1_filter{
    text-align: right;
}


.add-from h3{
    font-size:40px !important;
}
.add-from label{
    font-size: 30px;
}

.add-from input, .add-from select{
    font-size: 30px;
}

.add-from textarea{
    font-size: 40px;
}

.add-from input{
    padding: 10px 40px !important;
    height: 100%;
    /* width: 100%; */
}
.add-from select{
    width:100%;
    height: 100%;
}

.file {
    padding:40px;
}

.idata-table th, .idata-table .icon, .idata-table .iid
{
    text-align: center;
}

.paging_nav{
    text-align: center;
}

.tmenu
{
    font-weight: bold;
    font-size: 35px;
}

.form-menu-btn
{
    font-weight: bold !important;
    font-size: 40px !important;
    padding: 60px 30px !important;
}
.form-menu-btn button{
    text-align: center;
}

.list-btn{
    width: 100%;
    text-align: center;
    /*padding-top: 60px;*/
}

.list-btn .btn{
    width: 100%;
    text-align: center;
    padding: 60px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.empty
{
    font-size: 50px;
    font-weight: bold;
    color: red;
    text-align: center;
}

/* File Upload CSS*/
.file-actions, .fileinput-remove, .fileinput-upload
{
    display: none !important;
}

.btn-info-disable
{
    background-color: #CCC !important;
    color:#000 !important;
}

@media screen and (max-width: 800px) {
    .mitem img, .logo img{
        width: 60%;
        height: 60%;
    }

    .input_search{
        padding:10px;
        font-size:40px;
    }
    
    .input_button{
        padding:40px;
        font-size:40px;
    }
    
    .mspace{
        padding-bottom:40px;
    }
    
    h1{ 
        font-size: 40px !important;
    }
    
    table {
        table-layout: fixed;
        word-wrap: break-word;
    }
    
    h3{
        font-size: 24px !important;
    }
    
    .list-btn .btn{
        padding: 34px;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }
    .data-table td, .data-table th, .data-table li{
        font-size: 12px;
    }
    .icon{
        vertical-align: middle !important;
    }
    .icon img{
        width: 20px;
        margin: auto;
    }
    .form-menu-btn
    {
        font-size: 20px !important;
        padding: 30px 45px !important;
        text-align: center;
        margin: auto;
    }
    .btn-nav-form button{
        width: 100%;
    }
}