table {
    table-layout: fixed;
    word-wrap: break-word;
}

.row{
	margin: 0px 0px;
}

.login_form input,.login_form select,.login_form button{
	font-size:60px !important;
	padding:62px !important;
	height: 100%;
}

.login_form button{
	padding: 82px 250px !important;
	font-size: 80px !important;
}

.login_form select{
	width: 100%;
	height: 100%;
	padding: 40px;
	line-height: 1;
    font-size: 80px;
}

.login_form label{
	padding-top:40px;
	padding-bottom: 10px;
	font-size: 70px;
	font-weight: normal;
}

.login_form .box-title h3
{
	font-size: 90px !important;
}

.login_form .btn{
	padding: 60px 120px;
	font-size: 30px;
}

.login_form .box-footer{
	text-align: center;
}

.logo{
	text-align: center;
}

.h1{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.h4{
	font-weight: bold;
}

.box-primary{
	border:0 !important;
}

.btn-nav-top button{
	width: 100%;
	padding: 60px 30px;
	font-size: 30px;
}

.btn-nav-menu button{
	width: 100%;
	/* padding: 40px 20px;
	font-size: 30px;
	font-weight: bold; */
	text-align: center;
}
.btn-nav-menu{
	padding-bottom: 20px;
}

.btn-nav-form{
	text-align: center;
}

.btn-nav-form button{
	width: 60%;
	padding: 30px 50px;
	font-size: 20px;
}

.action_btn{
	font-size: 30px;
	padding: 30px;
}
.data-table h3
{
	font-size: 50px !important;
}
.data-table input, .data-table select
{
	font-size: 25px !important;
}

.data-table input{
	padding: 25px !important;
}

.data-table select{
	height: 100%;
	width: 100%;
}

.data-table label{
	font-size: 30px;
}

.data-table td, .data-table th, .data-table li{
	font-size: 40px;
}
.data-table li{
	padding: 20px;
}

#example1_filter{
	text-align: right;
}


.add-from h3{
	font-size:40px !important;
}
.add-from label{
	font-size: 30px;
}

.add-from input, .add-from select{
	font-size: 30px;
}

.add-from textarea{
	font-size: 40px;
}

.add-from input{
	padding: 10px 40px !important;
	height: 100%;
	/* width: 100%; */
}
.add-from select{
	width:100%;
	height: 100%;
}

.file {
	padding:40px;
}

.idata-table th, .idata-table .icon, .idata-table .iid
{
	text-align: center;
}

.paging_nav{
	text-align: center;
}

.tmenu
{
	font-weight: bold;
	font-size: 35px;
}

.form-menu-btn
{
	font-weight: bold !important;
	font-size: 40px !important;
	padding: 60px 30px !important;
}

.list-btn{
	width: 100%;
	text-align: center;
	padding-top: 60px;
}

.list-btn button
{
	padding: 80px 100px;
	/* margin: 40px 10px; */
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
.empty
{
	font-size: 50px;
	font-weight: bold;
	color: red;
	text-align: center;
}

/* File Upload CSS*/
.file-actions, .fileinput-remove, .fileinput-upload
{
	display: none !important;
}

.btn-info-disable
{
	background-color: #CCC !important;
	color:#000 !important;
}